.App {
  text-align: center;
  color: #052e2e;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .sidenav {
  border-radius: .75rem;
  width: 225px;
  height: 700px;
  position: fixed;
  z-index: 1;
  top: 75px;
  left: 30px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
} */

.sidenav a {
  /* padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px; */
  color: #d1fafa; 
  display: block;
}

.sidenav a:hover{
  text-decoration: none;
  color:rgba(255, 255, 255, 1)
}

.right-dynamic-pane{
  border-radius: .75rem;
  width: 1080px;
  height: 700px;
  position: fixed;
  z-index: 1;
  top: 75px;
  left: 275px;
  background-color: #d3d3d3; 
  overflow-x: hidden;
  padding: 8px 0; 
  border-radius: .75rem;
  box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);

}

.ptro-holder-wrapper{
  width: 1080px !important;
  height: 700px !important;
  position: relative;
  z-index: 1;
  top: 75px !important;
  left: 275px !important; 
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  border-style: solid;
}

.ptro-holder{
  width: 10 !important;
  height: 700px !important;
  position: relative;
  z-index: 1;
  top: 75px !important;
  left: 275px !important; 
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  border-style: solid;
}

/* .ptro-icon-btn{
    border: 0;
    cursor: pointer;
    flex-shrink: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: white !important;
}

.ptro-bar > div {
  overflow-x: auto !important;
  overflow-y: hidden !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.color-diwget-btn{
  background-color: none !important;

} */

.thumbnail{  
  width: 200px !important;
  height: 200px !important;
  margin-bottom: 0px !important;
  margin-top: 20px !important;
  /* -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000; */
}

.hover-zoomin a {
  display: block;
  position: relative;
  overflow: hidden;
}
.hover-zoomin img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hover-zoomin:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.caption{
  text-align: left;
  margin-left: 25px;
  
  font-style: italic;
  font-size: small;
}

.form-container {
  margin-left: 30%;
  margin-right: 30%;
}
.sign-up {
  margin-left: 30%;
  margin-right: 30%;
}
.profile-container {
  margin-left: 17%;
  margin-right: 17%;
}
.profile-form {
  padding:10px;
  border-radius:10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.topic-form {
  margin-left: 17%;
  margin-right: 17%;
}

select {
  display: block;
  width: 40%;
  margin: auto !important;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #CED4DA;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
  border-radius:.25rem !important;
  font-size: 18px !important;
  margin-top: 2% !important;
  padding: 8px;
  font-weight:400;
  text-align: center;
  vertical-align: middle;
  width:40%;
  color: #fff;
  background-color: #0f8a8a !important;
  border-color: #0f8a8a !important;
}

.btn-submit{ 
    border-radius:.25rem !important;
    font-size: 18px !important;
    margin-top: 2% !important;
    padding: 8px;
    font-weight:400;
    text-align: center;
    vertical-align: middle;
    width:40%;
    color: #fff !important;
    background-color: #0f8a8a !important;
    border-color: #0f8a8a !important;
}

.gallery-submit{
  font-size: 16px !important;
  width: 15% !important;
  margin-top: -6% !important;
  
  border-radius:.25rem !important;
  padding: 4px;
  font-weight:400;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #0f8a8a !important;
  border-color: #0f8a8a !important;
}

.gallery-all {
  font-size: 16px !important;
  width: 15% !important;
  margin-top: -2.75% !important;

  border-radius:.25rem !important;
  padding: 4px;
  font-weight:400;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #0f8a8a !important;
  border-color: #0f8a8a !important;
}

.gallery-topic {
  height: calc(1.48em + .70rem + 2px);
  width: 15% !important;
  margin-left:69% !important;
}

.painting-page-title {
  text-align: center;
}

.paintings-filter-header {
  text-align: right;
  margin-left: 5px;
}

.App{
  background-color: #f6f6f6;
background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);

}

html { 
  background-color: #f6f6f6;
background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
/*   
  background-color: #4d4855;
background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%); */

  /* background-image: url("https://images.pexels.com/photos/1053687/pexels-photo-1053687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") */

}

/* move filter button next to select dropdown */
/* border-radius: .75rem;
  width: 225px;
  height: 700px;
  position: fixed;
  z-index: 1;
  top: 75px;
  left: 30px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0; */

.sidenav{
  border-radius: .75rem;
  width: 225px;
  height: 700px;
  position: fixed;
  z-index: 1;
  top: 75px;
  left: 30px;
  overflow-x: hidden;
  padding: 8px 0;
  background:rgba(0, 0, 0, 0.75);
  border:1px solid #111;
  box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
}
.ui-button{
  font-size:16px;
  font-weight:300;
  text-align:center;
  position:relative;
  height:40px;
  line-height:40px;
  margin-top:10px;
  overflow:hidden;
  width:90%;
  margin-left:5%;
  cursor:pointer;
}
.ui-button:after{
  content: '';
  position:absolute;
  width:80%;
  border-bottom:1px solid rgba(255, 255, 255, 0.5);
  bottom:50%;
  left:-100%;
  transition-delay: all 0.5s;
  transition: all 0.5s;
}
.ui-button:hover:after,
.ui-button.hover:after{
  left:100%;
}
.ui-button text{
  text-shadow:0px -40px 0px rgba(255, 255, 255, 1);
  transition:all 0.75s;
  transform:translateY(100%) translateZ(0);
  transition-delay:all 0.25s;
}
.ui-button:hover text,
.ui-button.hover text{
  text-shadow:0px -40px 0px rgba(255, 255, 255, 0);
  transform:translateY(0%) translateZ(0) scale(1.1);
  font-weight:600;
}

#site-header{
  left: 25px;
  text-shadow: 2px 2px white;
  font-weight: bold;
  font-size: 50px;

}

.canvas{
  text-align: center !important;
  vertical-align: middle !important;
  line-height: 200px; 
}

